:root{
    --color-primary:#F83F6C;
    --color-heading: #242424;
    --color-body:#4B4A4A;
    --color-dark-background:#F3F1F1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */

html {
    /* 62.5 of 16px = 10px */
    /* 1 rem = 10 px */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.3rem;
    line-height: 1.5;
}

h1,h2,h3 {
    color: var(--color-heading);
}
h4{
    color: var(--color-primary);
    font-size: 1.8rem;

    line-height: 1;
    font-weight: 400;
    margin:0 ;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 6rem;
    line-height: 6.9rem;
    margin-bottom: 3rem;
    margin-top: 5.6rem;
}

h2 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;

}

h3 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

p{
    margin-top: 0;
}

a {
    text-decoration: none;
}

@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }

    h1 {
        font-size: 6.4rem;
        margin-bottom: 5.7rem;
    }

    h3 {
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }
}


/* list */

.list {
    list-style: none;
    padding-left: 0;
    font-size: 2.3rem;
    line-height: 1;
    margin: 0;
}

.list--inline {
    display: flex;
    
}

.list--tick {
    list-style-image: url(../images/tick.svg);
   padding-left: 3rem;
    color: var(--color-heading);
}

.list--tick .list__item {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/* button */

.btn {
    background: var(--color-heading);
    border-radius: 7px;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    
}

.icon-store{
  width: 150px;
  height: 40px;
}

.btn:hover {
    cursor: pointer;
}


/* icon */

.icon {
    width: 30px;
    height: 30px;
    fill: var(--color-heading);
}

.icon--white{
    fill: white;
}

.icon--gray{
    fill: #777575;
}

.icon--large{
    width: 54px;
    height: 54px;
}

.icon--small {
    width: 20px;
    height: 20px;
}

.icon-container {
    background: var(--color-primary);
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px) {

    .icon {
        width: 40px;
        height: 40px;
    }

    .icon-container {
        width: 55px;
        height: 55px;
    }

    .icon--large {
        width: 30px;
        height: 30px;
    }
}


/* indicator */

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #D9D9D9;
}

.indicator--active {
    background: var(--color-primary);
}

.indicator-continer.list--inline {
    width: 130px;
    justify-content: space-between;
}

/* media */

.media {
    display: flex;
}

.media__heading {
    line-height: 1;
}

.media__body {
    margin-left: 18px;
}


/* Grids */
.grid {
    display: grid;
}

@media screen and (min-width: 1024px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* block */
.block {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container {
    max-width: 1220px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.block__tag {
    text-align: center;
}

.block--dark {
    background: var(--color-dark-background) ;
}

@media screen and (min-width:1024px) {
    .block h2, .block__mini-title, .block__tag{
        text-align: left;
    }
}
