<section class="splide">
            <div class="splide__slider">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <article class="feature_slide grid grid--1x2 ">
                      <div class="feature__text">
                        <h5>
                          Discover amazing deals and experiences around you!
                        </h5>
                        <p>
                          Discover great local deals and experiences near you
                          with netzee Categories. Find discounts, promotions,
                          and dining adventures conveniently sorted by location.
                          Your ultimate guide to the ideal options for you
                        </p>
                        <ul class="list list--tick">
                          <li class="list__item">Best dinning expreiences around you</li>
                          <li class="list__item">Spontaneous limited time promotions in proximity</li>
                          <li class="list__item">Special deals on Hotels or Home Stays near by</li>
                          <li class="list__item">Live local events near you</li>
                        </ul>
                      </div>
                      <img
                        class="feature__image"
                        src="images/slide_1.png"
                        alt=""
                      />
                    </article>
                  </li>
                  <li class="splide__slide"><article class="feature_slide grid grid--1x2 ">
                      <div class="feature__text">
                        <h5>
                          Discover amazing deals and experiences around you!
                        </h5>
                        <p>
                          Discover great local deals and experiences near you
                          with netzee Categories. Find discounts, promotions,
                          and dining adventures conveniently sorted by location.
                          Your ultimate guide to the ideal options for you
                        </p>
                        <ul class="list list--tick">
                          <li class="list__item">Best dinning expreiences around you</li>
                          <li class="list__item">Spontaneous limited time promotions in proximity</li>
                          <li class="list__item">Special deals on Hotels or Home Stays near by</li>
                          <li class="list__item">Live local events near you</li>
                        </ul>
                      </div>
                      <img
                        class="feature__image"
                        src="images/slide_1.png"
                        alt=""
                      />
                    </article></li>
                  <li class="splide__slide"><article class="feature_slide grid grid--1x2 ">
                      <div class="feature__text">
                        <h5>
                          Discover amazing deals and experiences around you!
                        </h5>
                        <p>
                          Discover great local deals and experiences near you
                          with netzee Categories. Find discounts, promotions,
                          and dining adventures conveniently sorted by location.
                          Your ultimate guide to the ideal options for you
                        </p>
                        <ul class="list list--tick">
                          <li class="list__item">Best dinning expreiences around you</li>
                          <li class="list__item">Spontaneous limited time promotions in proximity</li>
                          <li class="list__item">Special deals on Hotels or Home Stays near by</li>
                          <li class="list__item">Live local events near you</li>
                        </ul>
                      </div>
                      <img
                        class="feature__image"
                        src="images/slide_1.png"
                        alt=""
                      />
                    </article></li>
                  <li class="splide__slide"><article class="feature_slide grid grid--1x2 ">
                      <div class="feature__text">
                        <h5>
                          Discover amazing deals and experiences around you!
                        </h5>
                        <p>
                          Discover great local deals and experiences near you
                          with netzee Categories. Find discounts, promotions,
                          and dining adventures conveniently sorted by location.
                          Your ultimate guide to the ideal options for you
                        </p>
                        <ul class="list list--tick">
                          <li class="list__item">Best dinning expreiences around you</li>
                          <li class="list__item">Spontaneous limited time promotions in proximity</li>
                          <li class="list__item">Special deals on Hotels or Home Stays near by</li>
                          <li class="list__item">Live local events near you</li>
                        </ul>
                      </div>
                      <img
                        class="feature__image"
                        src="images/slide_1.png"
                        alt=""
                      />
                    </article></li>
                  <li class="splide__slide"><article class="feature_slide grid grid--1x2 ">
                      <div class="feature__text">
                        <h5>
                          Discover amazing deals and experiences around you!
                        </h5>
                        <p>
                          Discover great local deals and experiences near you
                          with netzee Categories. Find discounts, promotions,
                          and dining adventures conveniently sorted by location.
                          Your ultimate guide to the ideal options for you
                        </p>
                        <ul class="list list--tick">
                          <li class="list__item">Best dinning expreiences around you</li>
                          <li class="list__item">Spontaneous limited time promotions in proximity</li>
                          <li class="list__item">Special deals on Hotels or Home Stays near by</li>
                          <li class="list__item">Live local events near you</li>
                        </ul>
                      </div>
                      <img
                        class="feature__image"
                        src="images/slide_1.png"
                        alt=""
                      />
                    </article></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>