<footer class="block__continer footer">
  <div class="block container grid footer__sections">
    <!-- section 1 -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h5 class="collapsible__title">usefull links</h5>
        <svg class="icon icon--small icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Home</a></li>
          <li class="list__item"><a href="#">Privacy Notice</a></li>
          <li class="list__item"><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </section>

    <!-- section 2 -->

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h5 class="collapsible__title">contact us</h5>
        <svg class="icon icon--small icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">
            <a href="mailto:contact@netzee.app">contact@netzee.app</a>
          </li>
          <li class="list__item">+94 78 123 123</li>
          <li class="list__item">No 5, line 1, line 2</li>
        </ul>
      </div>
    </section>
    <!-- section 3 -->
    <section class="collapsible footer__section qr">
      <header class="collapsible__header">
        <h5 class="collapsible__title">scan & join</h5>
        <svg class="icon icon--small icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <img class="qr-image" src="images/qr.png" alt="qr-code" />
      </div>
    </section>
    <!-- section 4 -->

    <section class="collapsible footer__section follow">
      <header class="collapsible__header">
        <h5 class="collapsible__title">follow us</h5>
        <svg class="icon icon--small icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <div class="follow__links">
          <a href="#">
            <svg class="icon icon--gray icon--large">
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
          </a>

          <a href="#">
            <svg class="icon icon--gray icon--large">
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
          </a>

          <a href="#">
            <svg class="icon icon--gray icon--large">
              <use xlink:href="images/sprite.svg#linkedin"></use>
            </svg>
          </a>

          <a href="#">
            <svg class="icon icon--gray icon--large">
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>

    <!-- sectioin 5 -->
    <section class="footer__brand">
      <img src="images/footer-brand.svg" alt="" />
      <p class="footer__copy-rights">Copyright 2023 WoomFex</p>
    </section>
  </div>
</footer>
