<section class="block__continer block__continer--dark gallery">
  <div class="block container">
    <div>
      <div class="block__heading">
        <h4 class="block__mini-title">gallery</h4>
      </div>
      <section id="ss" class="splide">
        <div class="splide__slider">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img class="ss" src="images/ss1.png" alt="" />
              </li>
              <li class="splide__slide">
                <img class="ss" src="images/ss2.png" alt="" />
              </li>
              <li class="splide__slide">
                <img class="ss" src="images/ss3.png" alt="" />
              </li>
              <li class="splide__slide">
                <img class="ss" src="images/ss4.png" alt="" />
              </li>
              <li class="splide__slide">
                <img class="ss" src="images/ss5.png" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
