 <div class="icon-container">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#follow"></use>
      </svg>
    </div>

    <div class="icon-container">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
    </div>

    <div class="icon-container">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#share"></use>
      </svg>
    </div>

    

    <svg class="icon icon--gray icon--large">
      <use xlink:href="images/sprite.svg#facebook"></use>
    </svg>
    <svg class="icon icon--gray">
      <use xlink:href="images/sprite.svg#instagram"></use>
    </svg>
    <svg class="icon icon--gray icon--large">
      <use xlink:href="images/sprite.svg#linkedin"></use>
    </svg>
    <svg class="icon icon--gray ">
      <use xlink:href="images/sprite.svg#mail"></use>
    </svg>

    <svg class="icon icon--small">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>