<section class="block__continer merchants">
  <div class="block container grid grid--1x2">
    <div class="block__data">
      <div class="block__heading">
        <h4 class="block__mini-title">merchants</h4>
        <h2 class="block__title">Are you a Merchant?</h2>
        <p class="block__tag">
          Embrace High Reach, Affordability, and Real-time Advertising with
          Netzee. Start Growing Your Business Today – It's Simple and
          Instantaneous.<br />
          <span class="primary--text">Join us and expect this</span>
        </p>
      </div>
      <div>
        <!-- itme 1 -->
        <div class="collapsible">
          <header class="collapsible__header">
            <h5 class="collapsible__title">
              High reach - Reach and attract many customers around your business
            </h5>
            <svg class="icon icon--small collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            Netzee's location-based advertising platform empowers local
            merchants with the ability to reach and captivate a substantial
            number of customers in the vicinity of their business.
          </div>
        </div>

        <!-- item 2 -->

        <div class="collapsible">
          <header class="collapsible__header">
            <h5 class="collapsible__title">
              Affordable - An affordable solution to market your business
            </h5>
            <svg class="icon icon--small collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            Netzee offers an accessible and budget-friendly platform for local
            merchants to effectively market their businesses.
          </div>
        </div>

        <!-- item 3 -->
        <div class="collapsible">
          <header class="collapsible__header">
            <h5 class="collapsible__title">
              Ease of use - With only a few clicks you can start marketing your
              products and services
            </h5>
            <svg class="icon icon--small collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            Netzee prides itself on providing a user-friendly platform that
            simplifies the process of marketing your products and services.
          </div>
        </div>

        <!-- item 4 -->
        <div class="collapsible">
          <header class="collapsible__header">
            <h5 class="collapsible__title">
              Realtime advertising - Create instantaneous promotions to take
              advantage of dynamics in the market
            </h5>
            <svg class="icon icon--small collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            Spontaneous Advertising - Seize Opportunities in Real-Time with
            Instantaneous Promotions.
          </div>
        </div>
      </div>
    </div>
    <img class="block__image" src="images/slide_1.png" alt="" />
  </div>
</section>
